.mainContainer .buttonGroup {
    list-style: none;
    padding: 0;
    margin: 20px auto;
}

.mainContainer .buttonGroup li {
    width: 100px;
    height: 70px;
    text-align: middle;
    border: 1px solid #4e4e4e;
    float: left;
    margin-right: 20px;
    padding-top: 30px;
    cursor: pointer;
    margin-bottom: 50px;

}
.mainContainer {
    width: 800px;
    margin: 0 auto;
}
.mainContainer .result {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #4e4e4e;
}
.clearfix {
    clear: both;
}