.App {
  text-align: center; }
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }
  .App .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }

.headerMenu {
  width: 100%;
  display: block; }
  .headerMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%; }
    .headerMenu ul li {
      float: left;
      padding: 5px 15px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
